@model IEnumerable<shop.Models.Spaceships.SpaceshipsIndexViewModel>

<div class="h1">
    Spaceships
</div>
<form action="/" method="post">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Type</th>
                <th scope="col">Build Date</th>
                <th scope="col">Crew</th>
            </tr>
        </thead>
        <tbody>
            @{
                int index = 1;
            }
            @foreach(var spaceships in Model)
            {
                <tr>
                    <td>@index</td>
                    <td>@spaceships.Name</td>
                    <td>@spaceships.TypeName</td>
                    <td>@spaceships.BuiltDate</td>
                    <td>@spaceships.Crew</td>
                </tr>
                index++;
            }
        </tbody>
    </table>    
</form>